body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    color: #333;
}

p:nth-child(2) {
    color: #28A745; /* Green for Name */
}

p:nth-child(3) {
    color: #DC3545; /* Red for Username */
}

p:nth-child(4) {
    color: #FFC107; /* Yellow for Email */
}
